<!DOCTYPE html>
<html>
<head>
		<title>Controladoria</title>
		<meta charset="UTF-8"/>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/css/iconfont/material-icons.css">
</head>

	<body>
	<div class="container">
		<div class="panel panel-primary">
			<div class="panel-heading"></div>
			<div class="panel-body">
				<div class="row">
					<span style="padding: 0px 30px 0px 90px" class="titulo text-center">Autodiagnóstico de alinhamento de indicadores e controles gerenciais</span>
					
				</div>
				<br/>
				<p class="text-muted credit">Projeto com recursos do CNPQ e vinculado ao Programa de Pós-Graduação em Ciências Contábeis da Universidade Presbiteriana Mackenzie</p>
					<div class="elemento-escondido" style="width: 100%; height: 30px; border-bottom: 1px solid black; text-align: center">
						<span id="tituloExibido" style="font-size: 20px">
							
						</span>
					</div>
					<hr id="linha"/>

					<div class="apresentacao elemento-escondido">
						<hr/>
						<div id="conteudo_0">
							<div class="row">
								<p style="text-align: justify">O alinhamento dos objetivos de uma organização com os indicadores é importante, pois você poderá direcionar os esforços dos gestores para atingirem os objetivos organizacionais. Além disso, o uso adequado das ferramentas de controle gerencial ajuda a organização a ter melhor desempenho. </p>
							</div>
	
							<div class="row">
								<p style="text-align:justify">O autodiagnóstico dura geralmente em torno de dez minutos, ao final você receberá um feedback indicando pontos de atenção para melhoria dos controles de sua organização.</p>
							</div>
	
							<br/>
							<div class="row">
								<div class="col-md-6 botoes">
									<a id="modalLider" class="btn btn-default" href="#">Líder da pesquisa</a>
								</div>
								
								<div class="col-md-6 botoes">
									<a id="modalTermo" class="btn btn-default" target = "_blank" href="/controladoria/termo">Termo de confidencialidade</a>
								</div>
							</div>
							<br/>
							<div class="row">
								<div class="col-md-4">
									<input id="inicioQuestionario" type="checkbox" name="concordo" class="form-group"/>  Eu concordo
								</div>	
							</div>
					</div>
					</div>
				<div class="dados-respondente col-md-12 elemento-escondido">
					<div  id="conteudo_1">
						<strong>Quantos funcionários existem na sua empresa?</strong>
						<br/>
						<br/>
						
						<span class="linha-resposta-vertical" id="quantidade-funcionarios">
							<input type="radio" data-categoria = "1" value="até 50 funcionários"> até 50 funcionários
							<br/><input type="radio" data-categoria = "2" value="entre 51 a 200"> entre 51 a 200
							<br/><input type="radio" data-categoria = "3" value="entre 201 a 1000"> entre 201 a 1.000
							<br/><input type="radio" data-categoria = "4" value="entre 1001 a 10000"> entre 1001 a 10.000
							<br/><input type="radio" data-categoria = "5" value="acima de 10000"> acima de 10.000						
						</span>

					</div>
					<div class="elemento-escondido" id="conteudo_2">
						<strong>Indique o nível de concorrência</strong>
						<br/>
						<br/>

						<span class="row linha-resposta-vertical" id="concorrência">
							
								<input type="radio" value="Nenhuma concorrência"> Nenhuma concorrência
								<br/><input type="radio" value="Pouca concorrência"> Pouca concorrência 
								<br/><input type="radio" value="Média concorrência"> Média concorrência
								<br/><input type="radio" value="Muita concorrência"> Muita concorrência
													
						</span>

					</div>
					
					<div class="elemento-escondido" id="conteudo_3">
						<strong>Indique, aproximadamente, quanto varia em média as suas vendas mensais em um período dos últimos meses</strong>
						<br/>
						<br/>
						<span class="linha-resposta-vertical" id="incertezas-ambientas">
							<section class="col-md-6">
								<input type="radio" value="até 10%"> até 10%
								<br/><input type="radio" value="entre 11% e 30%"> entre 11% e 30%
								<br/><input type="radio" value = "mais de 30%"> mais de 30%
							</section>

						</span>
					</div>
					
				</div>
				<div class="questionario row elemento-escondido col-md-12">
				<p>Indique o grau de importância dos aspectos seguintes em relação aos esforços dos gestores de sua organização.
				<strong>(Assinale de 1 a 10)</strong></p>	
				<table class="table table-striped table-bordered">
						<thead>
							<tr>
								<th>Critério</th>
								<th class="text-center">Nota</th>
							</tr>	
						</thead>
						<tbody id="conteudo_4">
							<%for(var i=0; i<4; i++){%>
								
									<tr class="linha-resposta objetivo">
										<input type="hidden" value="<%=viewModel.objetivos[i].obj_id%>" class="id"/>
										<input type="hidden" value="<%=viewModel.objetivos[i].obj_longo_prazo%>" class="longo-prazo"/>
										
										<%var descricao = viewModel.objetivos[i].obj_desc%>
										<%if(descricao.length > 47){%>
											<td style="font-size:11px"><%=descricao%></td>
										<%}else{%>
											<td><%=descricao%></td>
										<%}%>
										
										<td>
											<%for(var j=1; j <=10;j++){%>
												<label class="checkbox-inline">
													<input type="radio" value="<%=j%>"><%=j%>
												</label>
											<%}%>
										</td>
									</tr>
								
							<%}%>	
						
						</tbody>
						<tbody class="elemento-escondido" id="conteudo_5">
							<%for(var i=4; i<8; i++){%>
								
									<tr class="linha-resposta objetivo">
										<input type="hidden" value="<%=viewModel.objetivos[i].obj_id%>" class="id"/>
										<input type="hidden" value="<%=viewModel.objetivos[i].obj_longo_prazo%>" class="longo-prazo"/>
										<%var descricao = viewModel.objetivos[i].obj_desc%>
										<%if(descricao.length > 47){%>
											<td style="font-size:11px"><%=descricao%></td>
										<%}else{%>
											<td><%=descricao%></td>
										<%}%>
										<td>
											<%for(var j=1; j <=10;j++){%>
												<label class="checkbox-inline">
													<input type="radio" value="<%=j%>"><%=j%>
												</label>
											<%}%>
										</td>
									</tr>
								
							<%}%>						
						
						</tbody>

						<tbody class="elemento-escondido" id="conteudo_6">
							<%for(var i=8; i<viewModel.objetivos.length; i++){%>
								
									<tr class="linha-resposta objetivo">
										<input type="hidden" value="<%=viewModel.objetivos[i].obj_id%>" class="id"/>
										<input type="hidden" value="<%=viewModel.objetivos[i].obj_longo_prazo%>" class="longo-prazo"/>
										<%var descricao = viewModel.objetivos[i].obj_desc%>
										<%if(descricao.length > 47){%>
											<td style="font-size:11px"><%=descricao%></td>
										<%}else{%>
											<td><%=descricao%></td>
										<%}%>
										<td>
											<%for(var j=1; j <=10;j++){%>
												<label class="checkbox-inline">
													<input type="radio" value="<%=j%>"><%=j%>
												</label>
											<%}%>
										</td>
									</tr>
								
							<%}%>		
						</tbody>

						<tbody class="elemento-escondido" id="conteudo_7">
							<%for(var i=0; i<4; i++){%>
									<tr class="linha-resposta indicador">
										<input type="hidden" value="<%=viewModel.indicadores[i].ind_id%>" class="id"/>
										<input type="hidden" value="<%=viewModel.indicadores[i].ind_longo_prazo%>" class="longo-prazo"/>
										<%var descricao = viewModel.indicadores[i].ind_desc%>
										<%if(descricao.length > 47){%>
											<td style="font-size:8px"><%=descricao%></td>
										<%}else{%>
											<td><%=descricao%></td>
										<%}%>
										<td>
											<%for(var j=1; j <=10;j++){%>
												<label class="checkbox-inline">
													<input type="radio" value="<%=j%>"><%=j%>
												</label>
											<%}%>
										</td>
									</tr>
								
							<%}%>	
							
						</tbody>

						<tbody class="elemento-escondido" id="conteudo_8">
							<%for(var i=4; i<8; i++){%>
									<tr class="linha-resposta indicador">
										<input type="hidden" value="<%=viewModel.indicadores[i].ind_id%>" class="id"/>
										<input type="hidden" value="<%=viewModel.indicadores[i].ind_longo_prazo%>" class="longo-prazo"/>
										<%var descricao = viewModel.indicadores[i].ind_desc%>
										<%if(descricao.length > 47){%>
											<td style="font-size:11px"><%=descricao%></td>
										<%}else{%>
											<td><%=descricao%></td>
										<%}%>
										<td>
											<%for(var j=1; j <=10;j++){%>
												<label class="checkbox-inline">
													<input type="radio" value="<%=j%>"><%=j%>
												</label>
											<%}%>
										</td>
									</tr>
								
							<%}%>	
						</tbody> 

						<tbody class="elemento-escondido" id="conteudo_9">
							<%for(var i=8; i<viewModel.indicadores.length; i++){%>
									<tr class="linha-resposta indicador">
										<input type="hidden" value="<%=viewModel.indicadores[i].ind_id%>" class="id"/>
										<input type="hidden" value="<%=viewModel.indicadores[i].ind_longo_prazo%>" class="longo-prazo"/>
										<%var descricao = viewModel.indicadores[i].ind_desc%>
										<%if(descricao.length > 47){%>
											<td style="font-size:11px"><%=descricao%></td>
										<%}else{%>
											<td><%=descricao%></td>
										<%}%>
										<td>
											<%for(var j=1; j <=10;j++){%>
												<label class="checkbox-inline">
													<input type="radio" value="<%=j%>"><%=j%>
												</label>
											<%}%>
										</td>
									</tr>
								
							<%}%>	
						</tbody>
							
					</table>
					
				</div>

				<div class="elemento-escondido ferramentas">
					<br/>
					<table class="table table-striped table-bordered" id="tabela_ferramenta">
					<thead>
						<tr>
							<td>Critério</td>
							<td>Utilização</td>
						</tr>	
					</thead>	
					
					</table>
				</div>

				<div class="elemento-escondido" id="conteudo_13">
						<div class="row">
							<div class="col-md-12">
									<p style="text-align: justify">Muito obrigado por participar de nossa pesquisa!.</p>
									<p class="text-muted">Confira seus resultados - alinhamento de curto prazo (objetivos de curto prazo com indicadores monetários), alinhamento de longo prazo (objetivos de longo prazo com indicadores não monetários).</p>
							</div>
						</div>

						<div class="row">
							<div class="col-md-4 botoes">
								<a id="modalResultadoCurto" class="btn btn-default" href="#">Curto prazo</a>
							</div>
							<div class="col-md-4 botoes">
								<a id="modalFerramenta" class="btn btn-default" href="#">Avaliação das ferramentas</a>
							</div>
							<div class="col-md-4 botoes">
								<a id="modalResultadoLongo" class="btn btn-default" href="#">Longo prazo</a>
							</div>
						</div>
				</div>
			</div>
			<div class="panel-footer">
				<div id="botoesPerguntas" class="elemento-escondido">
						<div class="row">
							<div id="controles">
								<div class="col-md-6">
									<button style="float:left;" class="btn btn-default" id="botaoVolta">Voltar</button>
								</div>
								<div class="col-md-12">
									<button style="float:right;" class="btn btn-default" id="botaoAvanca">Próximo</button>
								</div>
							</div>
							<div class="elemento-escondido col-md-12">
								<button style="float:right;" class="btn btn-default" id="botaoFim">Finalizar</button>
							</div>
							
						</div>
				</div>
			</div>
	</div>
	</div>


		<div id="resultadoLongo" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div id="containerLongo" class="modal-body">
							
					</div>
					<div class="modal-footer">
						<span id="texto-feedback-longo"></span>
					</div>
				</div>
			</div>
		</div>
		<div id="resultadoCurto" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div id="containerCurto" class="modal-body">
							
					</div>
					<div class="modal-footer">
						<span id="texto-feedback-curto"></span>
					</div>

				</div>
			</div>
		</div>

		<div id="ferramenta" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>	
					<div class="modal-body">
						<div id="tabela-pagina-1">
							<span class="text-muted"></span>
							<ul id="lista-ferramentas" class="list-group">
							</ul>
						</div>
					</div>
					<div class="modal-footer">
						
					</div>
				</div>
			</div>
		</div>

		<div id="liderPesquisa" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
					</div>
					<div class="modal-body">
						<p>Por favor ao citar esse trabalho cite
							Oyadomari, J.C.T; Malagueño, R. Cunha; CUNHA, D. V. ; Silva, G.A.S ; Mendonça Neto, O.R; Teste de Alinhamento de Objetivos e
							Ferramentas de Controle Gerencial. São Paulo, 2017.</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
					</div>
				</div>
			</div>
		</div>
			
	
	<script type="text/javascript" src="/js/jquery.js"></script>
	<script type="text/javascript" src="/js/bootstrap.js"></script>
	<script type="text/javascript" src="/js/bootbox.min.js"></script>
	<script type="text/javascript" src="/js/highcharts.js"></script>
	<script type="text/javascript" src="/js/highcharts-more.js"></script>
	<script type="text/javascript" src="/js/exporting.js"></script>
	<script type="text/javascript" src="/js/util.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>
	</body>
</html>